<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <title>Item Collection</title>
  </head>

    <nav class="navbar navbar-dark" style="background-color: #C0C0C0;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <a class="navbar-brand" href="#">Web TCP_Ping</a>
          </a>
        </div>
        </div>
    </nav>

    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="text-center">

                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Host</th>
                        <th scope="col">IP</th>
                        <th scope="col">Protocol : Port</th>
                        <th scope="col">Status</th>
                        <th scope="col">Last Reachable</th>
                        <th scope="col">Min</th>
                        <th scope="col">Max</th>
                        <th scope="col">Avg</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{range $i, $a := .Items}}
                      <tr>
                        <th scope="row">{{$i}}</th>
                        <td style="text-align: left">{{$a.Target.HostName}}</td>
                        <td style="text-align: left">{{$a.Target.Host}}</td>
                        <td style="text-align: left">{{$a.Target.Proto}} : {{$a.Target.Port}}</td>
                        {{if $a.Result.Status}}
                        <td style="text-align: left" class="text-success">ONLINE</td>
                        {{else}}
                        <td style="text-align: left" class="text-danger">DOWN</td>
                        {{end}}
                        <td style="text-align: left">{{$a.Result.LastSeen}}</td>
                        <td style="text-align: left">{{$a.Result.MinDuration}}</td>
                        <td style="text-align: left">{{$a.Result.MaxDuration}}</td>
                        <td style="text-align: left">{{$a.Result.Avg}}</td>
                        <td style="text-align: left">

                        </td>
                      </tr>
                      {{end}}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>